// sizes
$desktop-width: 768px;
$fixed-post-width: 600px;
$toolbar-height: 40px;

// theme colors
$non-photo-blue: #A4DDED;
$instagram-background: #EDEEEF;

$primary: #3B5998;

$font-main: #000000;
$font-secondary: #777777;
$font-tertiary: #aaaaaa;
$link-color: #3B5998;

$border-thin: 1px solid #BBBBBB;
$post-margin: 25px auto;
$post-background-size: 10px;

// fonts
body {
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  font-size: 15px;
  letter-spacing: -0.015em;
}

a {
  text-decoration: none;

  &:link, &:visited, &:active {
    color: $link-color;
  }
}
