@import 'normalize.css';
@import 'theme';
@import 'base';
@import 'mixins';

.page-container {
  padding: 20px 0 40px 0;
  background-color: $instagram-background;
}

.page-header {
  background-color: $instagram-background;
}

@import '../js/components/tweet/tweet-style';
@import '../js/components/facebook-post/facebook-post-style';
@import '../js/components/google-post/google-post-style';
@import '../js/components/instagram/instagram-style';
