.instagram
  .instagram-details
    img.instagram-user-image(ng-src='{{ vm.post.userImage }}')
    a(href='#').instagram-username {{ vm.post.username }}
    br
    span.instagram-detail {{ vm.post.createdAt | date: 'MMM d, yyyy' }}
    br
    span.instagram-detail(ng-if='vm.post.location') {{ vm.post.location }}

  img.instagram-image(ng-src='{{ vm.post.image }}', ng-if='vm.post.image')
  video(ng-src='{{ vm.post.video }}', ng-if='vm.post.video')

  .instagram-interaction.clearfix
    .instagram-like.fa.fa-heart
    .instagram-actions.fa.fa-ellipsis-h
    .instagram-activity(ng-if='vm.post.favorites.length > 0')
      div(ng-if='vm.post.favorites.length === 1')
        a(href='#') {{ vm.post.favorites[0].username }}
        |  likes this.
      div(ng-if='vm.post.favorites.length === 2')
        a(href='#') {{ vm.post.favorites[0].username }}
        |  and&nbsp;
        a(href='#') {{ vm.post.favorites[1].username }}
        |  like this.
      div(ng-if='vm.post.favorites.length === 3')
        a(href='#') {{ vm.post.favorites[0].username }}
        |  and&nbsp;
        a(href='#') {{ vm.post.favorites.length - 1 }} others
        |  like this.
      div(ng-if='vm.post.favorites.length > 3')
        a(href='#') {{ vm.post.favorites[0].username }}
        | ,&nbsp;
        a(href='#') {{ vm.post.favorites[1].username }}
        |  and&nbsp;
        a(href='#') {{ vm.post.favorites.length - 2 }} others
        |  like this.
  .instagram-comment.instagram-message.clearfix
    img.instagram-comment-user-image(ng-src='{{ vm.post.userImage }}')
    .instagram-comment-right
      a.instagram-comment-username(href='#') {{ vm.post.username }}
      span  {{ vm.post.message }}
  .instagram-comments
    .instagram-comment.clearfix(ng-repeat='comment in vm.post.comments')
      img.instagram-comment-user-image(ng-src='{{ comment.userImage }}')
      .instagram-comment-right
        a.instagram-comment-username(href='#') {{ comment.username }}
        span  {{ comment.message }}
