.tweet-container
  section.tweet-main
    img.tweet-user-image(ng-src='{{ vm.data.userImage }}')

    .tweet-inner
      .tweet-user-info
        span.tweet-full-name {{ vm.data.fullName }}&nbsp;
        span.tweet-username {{ vm.data.username }}&nbsp;
        span.tweet-created-at.dot-before {{ vm.data.createdAt | date: 'MMM d' }}

      .tweet-message {{ vm.data.message }}
      img.tweet-image(ng-src='{{ vm.data.image }}' ng-if='vm.data.image')
      div(ng-if='vm.data.video') {{ vm.data.video }}

      .tweet-interaction
        .tweet-retweets
          .tweet-count-title Retweets
          .tweet-count-number {{ vm.data.shares.length }}
        .tweet-favorites
          .tweet-count-title Favorites
          .tweet-count-number {{ vm.data.favorites.length }}
        .tweet-users-list
          img(ng-repeat='user in vm.data.relatedUsers', ng-src='{{ user.userImage }}')

      .tweet-details
        | {{ vm.data.createdAt | date: 'H:mm:ss a - d MMM yyyy ' }}
        span.dot-before Details

      ul.tweet-actions
        li.fa.fa-arrow-left
        li.fa.fa-retweet {{ vm.data.shares.length }}
        li.fa.fa-star {{ vm.data.favorites.length }}
        li.fa.fa-user-plus
        li.fa.fa-ellipsis-h

  section.tweet-comments
    .tweet-comment(ng-repeat='comment in vm.data.comments')
      img.tweet-comment-user-image(ng-src='{{ comment.userImage }}')
      .tweet-comment-content
        span.tweet-full-name {{ comment.fullName }}&nbsp;
        span.tweet-username {{ comment.username }}&nbsp;
        span.tweet-created-at.dot-before {{ comment.createdAt | date: 'MMM d' }}
        .tweet-message {{ comment.message }}

        ul.tweet-actions
          li.fa.fa-arrow-left
          li.fa.fa-retweet {{ comment.shares.length }}
          li.fa.fa-star {{ comment.favorites.length }}
          li.fa.fa-user-plus
          li.fa.fa-ellipsis-h
