toolbar(friend-requests='vm.requests', messages='vm.messages')
div.page-container
  form.css-form.create-post-form
    .form-group
      label(for='postType') Type
      select(name='postType', ng-model='vm.postType', ng-options='type for type in vm.postTypes')
    .form-group
      label(for='commentCount') Comment Count
      input(name='commentCount', type='number', ng-model='vm.commentCount', max=99)
    .form-group
      label(for='favoriteCount') Favorite Count
      input(name='favoriteCount', type='number', ng-model='vm.favoriteCount', max=99)
    .form-group
      label(for='shareCount') Share Count
      input(name='shareCount', type='number', ng-model='vm.shareCount', max=99)
    .form-group
      button(ng-click='vm.createPost()') Create Post
  feed(posts='vm.posts')
div.page-footer